@import 'src/assets/scss/theme_color';
@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixin';
@import 'src/assets/scss/responsive';


/* :: 11.0 Footer Area CSS */

.footer_area {
    position: relative;
    z-index: 1;
    background-color: #252525;
    padding: 70px 0 60px;
    .single_widget_area {
        .footer_menu {
            ul {
                @include display-flex(flex);
                li a {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.6);
                    display: block;
                    font-weight: 400;
                    font-family: $font-ubuntu;
                    padding: 0 10px;
                    text-transform: capitalize;
                    &:hover,
                    &:focus {
                        color: $white-color;
                    }
                }
            }
        }
        .footer_widget_menu {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            li {
                @include flex(0 0 50%);
                width: 50%;
                a {
                    display: block;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.6);
                    display: block;
                    font-weight: 400;
                    margin-bottom: 10px;
                    &:hover,
                    &:focus {
                        color: $white-color;
                    }
                }
            }
        }
        .footer_heading {
            h6 {
                color: $white-color;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        .subscribtion_form {
            form {
                position: relative;
                z-index: 1;
                width: 270px;
                @media #{$breakpoint-xs} {
                    margin-bottom: 50px;
                }
                input {
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 12px;
                    height: 35px;
                    background-color: transparent;
                    &:focus {
                        border-bottom-color: $white-color;
                        color: $white-color;
                    }
                }
                button {
                    width: 30px;
                    height: 35px;
                    border: none;
                    background-color: transparent;
                    color: rgba(255, 255, 255, 0.6);
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-align: center;
                    z-index: 10;
                }
            }
        }
        .footer_social_area {
            a {
                color: $white-color;
                display: inline-block;
                padding: 0 10px;
                font-size: 16px;
            }
        }
    }
}
