// Heading Color
$heading-color: #000000;

// Text Color
$text-color: #787878;

// Default Background
$bg-default: #54abd2;

// Gray Background
$bg-gray: #f8f8f8;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #3d8eb9;