@import 'src/assets/scss/theme_color';
@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixin';
@import 'src/assets/scss/responsive';


.pagination {
    position: relative;
    z-index: 1;
    .page-item {
        .page-link {
            width: 40px;
            height: 40px;
            border: 1px solid $border-color;
            font-size: 12px;
            font-weight: 600;
            line-height: 38px;
            padding: 0;
            text-align: center;
            color: $text-color;
            &:hover,
            &:focus {
                color: $bg-default;
                box-shadow: none;
            }
        }
        &:first-child {
            margin-right: 15px;
            .page-link {
                margin-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &:last-child {
            margin-left: 15px;
            .page-link {
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
